body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:25px;
    font-family: Arial, Helvetica, sans-serif;
}

#resume-container {
    width: 600px;
    height: 707px;
    padding:20px;
    margin: 50px;
    background-color: #f4f4f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);border-radius: 10px;
}

h1 {
    color: #007bff;
    text-align: center;
}

h2 {
    border-bottom: 2px solid #007bff;
    padding: 2px;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
}